<h1>Listing issues</h1>

<table id="issues-table" class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Score Options</th>
      <th>Votes</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% issues_presenter.each do |issue_presenter| %>
      <tr>
        <td><%= issue_presenter.name %></td>
        <td><%= issue_presenter.formatted_score_options.html_safe %></td>
        <td class="vote-chart" data-issue-id=<%= issue_presenter.id %> data-vote-data=<%= issue_presenter.vote_data %>></td>
        <td><%= link_to 'Show', issue_path(issue_presenter), class: "btn btn-default" %></td>
        <td><%= link_to 'Edit', edit_issue_path(issue_presenter), class: "btn btn-default" %></td>
        <td><%= link_to 'Destroy', issue_path(issue_presenter), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Issue', new_issue_path, class: "btn btn-default" %>
